.offchain-container {
    display: flex;
    width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
}

.offchain-sidebar {
    width: 100%;
    max-width: 250px;
    position: static;
}

.offchains {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
}

.offchain {
    width: 100%;
    padding: 30px;
    min-height: 100vh;
}

.offchain-metrics-bar {
    background: #000;
    box-shadow: 0 0 20px rgb(123, 123, 123);
    width: 100%;
    margin: 40px 0;
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    padding: 10px 20px;
    border-radius: 8px;
    border: 2px solid #e4dbdb;
}

.offchain-metric {
    background: linear-gradient(135deg, #fafafa, #fafafa);
    padding: 10px 0px;
    border: 2px solid #e4dbdb;
    border-radius: 6px;
    color: rgb(0, 0, 0);
    font-size: 11px;
    font-weight: 500;
    text-align: center;
    width: 20%;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}


.offchain-intro-section {
    color: var(--black-color);
    text-align: center;
    width: 100%;
}

.offchain-intro-section h2 {
    font-size: 24px;
}

.offchain-intro-section p {
    font-size: 16px;
    font-weight: 400;
}

.offchain-inner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.offchain-containers {
    background: #000;
    box-shadow: 0 0 20px rgb(123, 123, 123);
    border: 2px solid #d9d9d9;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 40%;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 50px;
}

.offchain-header {
    display: flex;
    align-items: center;
    background: #FFF;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    max-width: 90%;
    border: 2px solid #e4dbdb;
}

.offchain-header img {
    width: 30px;
    margin-right: 10px;
    background-image: var(--vault-dg10);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
}

.offchain-input-group {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    max-width: 90%;
    border: 2px solid #e4dbdb;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.offchain-input-group img {
    width: 30px;
    margin-right: 10px;
}

.offchain-input-group input {
    flex: 1;
    border: none;
    background: transparent;
    color: rgb(48, 48, 48);
    font-size: 14px;
    padding: 10px;
    outline: none;
}

.offchain-input-group input[type="number"]::-webkit-inner-spin-button,
.offchain-input-group input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.offchain-input-group input[type="number"] {
    -moz--appearance: textfield;
}

.offchain-toggle-button {
    margin: 10px 0;
    background-color: #FFF;
    border: 1px solid #555;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, border-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offchain-toggle-button img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    display: inline-block;
    vertical-align: middle;
}


.offchain-toggle-button:hover {
    background-color: #FFF;
    transform: scale(1.1);
    border: 1px solid #555;
}

.offchain-stake-button {
    background: linear-gradient(135deg, #ffffff, #ffffff);
    color: #000;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    max-width: 90%;
    border: 2px solid #e4dbdb;
    border-radius: 8px;
    cursor: pointer;
}

.offchain-stake-button:hover {
    background: #000;
    color: #FFF;
    border: 2px solid #e4dbdb;
}

@media (max-width: 1024px) {
    .offchain-metrics-bar {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
        width: 100%;
        padding: 20px;
    }

    .offchain-metric {
        font-size: 12px;
        width: 100%;
        background: #FFF;
        border-radius: 8px;
    }

    .offchain-containers {
        max-width: 70%;
    }
}

@media (max-width: 900px) {
    .offchain-metric {
        font-size: 10px;
    }

    .offchain-intro-section h2 {
        font-size: 20px;
    }
}

@media (max-width: 800px) {
    .offchain-metrics-bar {
        max-width: 700px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
    }

    .offchain-intro-section h2 {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .offchain-container {
        flex-direction: column;
    }

    .offchain-metrics-bar {
        margin-top: 70px;
    }
}

@media (max-width: 600px) {
    .offchain-containers {
        max-width: 90%;
    }
}

@media (max-width: 500px) {

    .offchain-intro-section h2,
    .offchain-intro-section p {
        font-size: 14px;
    }

    .offchain-metrics-bar {
        display: none;
    }

    .offchain-intro-section {
        margin-top: 70px;
    }

    .offchain-intro-section h2 {
        font-size: 15px;
    }
}

@media (max-width: 425px) {

    .offchain-intro-section h2,
    .offchain-intro-section p {
        font-size: 13px;
    }

    .offchain-header {
        max-width: 100%;
    }

    .offchain-input-group {
        max-width: 100%;
    }

    .offchain-stake-button {
        max-width: 100%;
    }
}

@media (max-width: 375px) {
    .offchain-intro-section h2 {
        font-size: 14px;
    }

    .offchain-intro-section p {
        font-size: 12px;
    }

    .offchain-header {
        padding: 5px;
    }

    .offchain-input-group {
        padding: 2px;
    }

    .offchain-input-group img {
        margin-left: 4px;
    }

    .offchain-stake-button {
        padding: 7px;
    }
}

@media (max-width: 320px) {

    .offchain-intro-section h2,
    .offchain-intro-section p {
        font-size: 12px;
    }

    .offchain-input-group input {
        font-size: 11px;
        padding: 0px;
    }

    .offchain-input-group img {
        margin-left: 0px;
    }
}