.hedge-container {
    display: flex;
    width: 100%;
    overflow-x: hidden;
}

.hedge-sidebar {
    width: 100%;
    max-width: 250px;
    position: static;
}

.hedge-pools {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
}

.hedge-pool {
    width: 100%;
    padding: 30px;
    height: 100vh;
}

.hedge-intro-section {
    text-align: center;
    color: var(--black-color);
    margin: 40px 0;
    font-size: 20px;
}

.hedge-intro-section h2 {
    font-weight: bolder;
}

.hedge-intro-section p {
    font-weight: 400;
}

.hedge-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.hedge-button {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    background: linear-gradient(to bottom, black, rgb(30, 30, 30));
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease-in-out;
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.hedge-button:hover {
    background: linear-gradient(to bottom, rgb(50, 50, 50), black);
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

.pool-logo {
    width: 32px;
    height: 32px;
    object-fit: contain;
    margin: 25px;
}

@media (max-width: 768px) {
    .hedge-container {
        flex-direction: column;
    }

    .hedge-intro-section {
        margin-top: 60px;
    }
}

@media (max-width: 600px) {
    .hedge-intro-section p {
        font-size: 18px;
    }
}

@media (max-width: 500px) {
    .hedge-intro-section h2 {
        font-size: 24px;
    }

    .hedge-intro-section p {
        font-size: 15px;
    }
}

@media (max-width: 425px) {
    .hedge-intro-section h2 {
        font-size: 24px;
    }

    .hedge-intro-section p {
        font-size: 14px;
    }
}