.vault-container {
    display: flex;
    width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
}

.vault-sidebar {
    width: 100%;
    max-width: 250px;
    position: static;
}

.vaults {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
}

.vault {
    width: 100%;
    padding: 30px;
    min-height: 100vh;
}

.vault-metrics-bar {
    background: #000;
    box-shadow: 0 0 12px rgb(123, 123, 123);
    width: 100%;
    margin: 40px 0;
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    padding: 10px 20px;
    border-radius: 8px;
    border: 2px solid #e4dbdb;
}

.vault-metric {
    background: linear-gradient(135deg, #fafafa, #fafafa);
    padding: 10px 0px;
    border: 2px solid #e4dbdb;
    border-radius: 6px;
    color: rgb(0, 0, 0);
    font-size: 11px;
    font-weight: 500;
    text-align: center;
    width: 20%;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}

.vault-allocate-offchain-button {
    background-color: #FFF;
    color: #333;
    font-size: 12px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    cursor: pointer;
    position: fixed;
    top: 85%;
    right: 67%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.vault-allocate-offchain-button a {
    color: #000;
    text-decoration: none;
}

.vault-allocate-offchain-button:hover {
    background-color: #45a049;
}

.vault-allocate-offchain-button a:hover {
    color: #f0f0f0;
}

.vault-intro-section {
    color: var(--black-color);
    text-align: center;
    width: 100%;
}

.vault-intro-section h2 {
    font-size: 24px;
}

.vault-intro-section p {
    font-size: 16px;
    font-weight: 400;
}

.vault-inner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.vault-containers {
    background: #000;
    box-shadow: 0 0 14px rgb(123, 123, 123);
    border: 2px solid #d9d9d9;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 40%;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 50px;
}

.vault-header {
    display: flex;
    align-items: center;
    background: #FFF;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    max-width: 90%;
    border: 2px solid #e4dbdb;
}

.vault-header img {
    width: 30px;
    margin-right: 10px;
    background-image: var(--vault-dg10);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    max-width: 90%;
    border: 2px solid #e4dbdb;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.input-group img {
    width: 30px;
    margin-right: 10px;
}

.input-group input {
    flex: 1;
    border: none;
    background: transparent;
    color: rgb(48, 48, 48);
    font-size: 14px;
    padding: 10px;
    outline: none;
}

.input-group input[type="number"]::-webkit-inner-spin-button,
.input-group input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.input-group input[type="number"] {
    -moz--appearance: textfield;
}

.vault-toggle-button {
    margin: 10px 0;
    background-color: #FFF;
    border: 1px solid #555;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, border-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vault-toggle-button img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    display: inline-block;
    vertical-align: middle;
}


.vault-toggle-button:hover {
    background-color: #FFF;
    transform: scale(1.1);
    border: 1px solid #555;
}

.vault-stake-button {
    background: linear-gradient(135deg, #ffffff, #ffffff);
    color: #000;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    max-width: 90%;
    border: 2px solid #e4dbdb;
    border-radius: 8px;
    cursor: pointer;
}

.vault-stake-button:hover {
    background: #000;
    color: #FFF;
    border: 2px solid #e4dbdb;
}

.vault-info-box {
    font-size: 14px;
    color: #ccc;
    margin-top: 10px;
}

.vault-info-box p {
    margin: 5px 0;
}

@media (max-width: 1024px) {
    .vault-metrics-bar {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: repeat(2, 1fr); 
        gap: 20px;
        width: 100%;
        padding: 20px;
    }
    
    .vault-metric {
        font-size: 12px;
        width: 100%;
        background: #FFF; 
        border-radius: 8px; 
    }

    .vault-allocate-offchain-button {
        right: 52%;
    }

    .vault-containers {
        max-width: 70%;
    }
}

@media (max-width: 900px) {
    .vault-metric {
        font-size: 10px;
    }

    .vault-allocate-offchain-button {
        right: 45%;
    }
}

@media (max-width: 800px) {
    .vault-metrics-bar {
        max-width: 700px;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(3, auto);
    }

    .vault-allocate-offchain-button {
        right: 40%;
    }
}

@media (max-width: 768px) {
     .vault-container {
        flex-direction: column;
    }

    .vault-metrics-bar {
        margin-top: 70px;
    }

    .vault-allocate-offchain-button {
        right: 70%;
    }
}

@media (max-width: 600px) {
    .vault-allocate-offchain-button {
        right: 60%;
    }

    .vault-containers {
        max-width: 90%;
    }
}

@media (max-width: 500px) {
    .vault-allocate-offchain-button {
        right: 50%;
    }

    .vault-metrics-bar {
        display: none;
    }

    .vault-intro-section {
        margin-top: 70px;
    }
}

@media (max-width: 425px) {
    .vault-allocate-offchain-button {
        right: 40%;
    }

    .vault-containers {
        max-width: 100%;
    }

    .vault-header {
        max-width: 100%;
    }

    .input-group {
        max-width: 100%;
    }

    .vault-stake-button {
        max-width: 100%;
    }
}

@media (max-width: 375px) {
    .vault-intro-section h2 {
        font-size: 22px;
    }

    .vault-header {
        padding: 5px;
    }

    .input-group {
        padding: 2px;
    }

    .input-group img {
        margin-left: 4px;
    }

    .vault-stake-button {
        padding: 7px;
    }
}

@media (max-width: 320px) {
    .vault-intro-section h2 {
        font-size: 18px;
    }

    .vault-intro-section p {
        font-size: 14px;
    }

    .input-group img {
        margin-left: 30px;
    }

    .vault-allocate-offchain-button {
        right: 30%;
    }
}